/* FULL PAGE BACKGROUND */
body {
  background: #1d1d36;     /* Black outside */
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FADE-IN ANIMATION */
.fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* WHITE CARD BOX */
.fp-container {
  width: 380px;
  background: #fff;     /* White inside */
  padding: 35px 30px;
  border-radius: 16px;

  box-shadow: 0 6px 35px rgba(255, 255, 255, 0.15);
  border: 1px solid #e5e5e5;

  text-align: center;
}

/* TITLE */
.fp-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  color: #000;
}

/* INPUT FIELD */
.fp-input {
  width: 100%;
  padding: 14px;
  background: #f4f4f4;
  border: 1px solid #cfcfcf;
  border-radius: 10px;

  font-size: 16px;
  color: #000;
  outline: none;
  transition: 0.25s ease;
}

.fp-input:focus {
  background: #ebebeb;
  border-color: #000;
}

/* ERROR MESSAGE (SEPARATED BELOW INPUT) */
.fp-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;  /* pushed down */
  margin-bottom: -5px;
  font-weight: 600;
}

/* BUTTON */
.fp-btn {
  width: 100%;
  margin-top: 18px;
  padding: 13px;

  background: #000;     /* Black button */
  color: #fff;          /* White text */
  border: none;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.3s ease;
}

.fp-btn:hover {
  background: #1b1b1b;
  transform: scale(1.03);
}

/* BACK LINK */
.fp-back {
  margin-top: 20px;
  display: inline-block;
  color: #000;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;

  transition: 0.3s;
}

.fp-back:hover {
  opacity: 0.6;
}

/* SUCCESS TEXT */
.fp-success-text {
  font-size: 18px;
  font-weight: 700;
  color: #00a86b;
}

.fp-info-text {
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}
