/* MAIN WRAPPER */
.gh-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT SIDE (updated gradient to match image) */
.gh-left {
  display: flex;
  flex-direction: column;
  flex: 1;

  background: linear-gradient(180deg, #0A0F28, #1A2A56);

  color: white;
  justify-content: center;
  padding: 20px;
}

.gh-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.gh-left p {
  font-size: 18px;
  opacity: 0.8;
}

/* RIGHT SIDE */
.gh-right {
  flex: 1;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */
.gh-box {
  width: 380px;
  background: transparent !important;
  padding: 0px 30px;
  box-shadow: none !important;
  border: none !important;
}

/* TITLE */
.form-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 22px;
  font-weight: 600;
}

/* LABELS */
.gh-box label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

/* INPUT FIELDS */
.gh-box input,
.gh-box select {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  font-size: 15px;
}

/* FOCUS */
.gh-box input:focus,
.gh-box select:focus {
  border-color: #0c0c0c;
  outline: none;
}

/* MAIN BUTTON */
.gh-box button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #238636;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.gh-box button:hover {
  background: #2ea043;
}

/* SOCIAL BUTTONS */
.social-login {
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.google-btn,
.apple-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background: #f6f8fa;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.google-btn:hover,
.apple-btn:hover {
  background: #eaeef2;
}

.google-btn img,
.apple-btn img {
  width: 20px;
  height: 20px;
}

/* DIVIDER */
.divider-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0.1em;
  margin: 15px 0 15px;
}

.divider-line span {
  background: #fff;
  padding: 0 10px;
  color: gray;
  font-size: 14px;
}

/* LINKS */
.switch,
.forgot-link {
  text-align: center;
  color: #0c0d0d;
  margin-top: 10px;
  cursor: pointer;
}

.switch:hover,
.forgot-link:hover {
  text-decoration: underline;
}

/* ERRORS */
.error {
  color: red;
  font-size: 13px;
}
