.forgot-container {
  width: 380px;
  margin: auto;
  padding: 30px;
  margin-top: 80px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid #ccc;
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
}

.forgot-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}
.forgot-label {
  display: block;
  text-align: left;
  font-weight: 500;
  margin-bottom: 6px;
  color: #f0f0f0;
}
.forgot-input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 15px;
  font-size: 15px;
}
.forgot-btn {
  width: 100%;
  padding: 12px;
  background-color: #2d8cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.forgot-btn:hover {
  background-color: #2174d1;
}
.success-text {
  color: #00ff00;
  margin-top: 10px;
}

.error-text {
  color: #ff4444;
  margin-top: 10px;
}